article{
    width: var(--width) !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

article section#fac{
    background-color: var(--color-transparent-5);
    margin: 10px 0;
    border-radius: 10px;
    overflow: hidden;
}

article section#fac h1{
    background-color: var(--color-transparent-7);
    padding: 10px;
    color: var(--color-const-white);
    font-weight: 400;
    letter-spacing: 1px;
    position: relative;
}

article section#fac .answer{
    padding: 0px;
    color: var(--color-transparent-3);
    height: 0px;
    transition: all 1s;
}

article section#fac .answer ul{
    padding: 0px;
    display: flex;
    flex-direction: column;
}
article section#fac .answer ul li{
    display: flex;
}

article section#fac .answer ul li .type{
    padding: 0px;
    width: 108px;
    color: var(--color-text-default);
}


/* for active fac */
article section#fac.active .answer{
    padding: 10px;
    height: auto;
}

article section#fac.active .answer ul{
    padding: 10px 20px;
}

article section#fac.active .answer ul li .type{
    padding: 0 10px;
}

#separator{
    background: url("../assets/img/model/Card_front_model.png");
    background-size: cover;
    position: relative;
    height: 300px;
}
#separator .box{
    height: 100%;
    width: 100%;
    background: var(--color-transparent-8);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}
#separator .box h1{
    color: var(--color-text-black);
    font-size: 3em;
    text-align: center;
}
#separator .box a{
    padding: 15px;
    width: 200px;
    text-align: center;
    background: var(--color-default);
    border-radius: 20px;
    color: var(--color-const-white);
    font-weight: 600;
    margin-top: 20px;
}